@import "tailwindcss";

:root {
  --background: #FBF9F3;
  --foreground: #2F2F2F;
  --muted: #737373;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-jua);
}

html,
body {
  background-color: #FBF9F3;
  color: var(--foreground);
}
